html {
    background: url('../carpet.jpg');
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



#app {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
//    background-image: url("../glass.jpg");
}

svg {
    margin: 0 auto;
}

#simon-body {
    filter: url('#light');
    box-shadow: 50px 50px 0px black;
//    opacity: .9;
    
}

#controls {
    fill: rgb(152, 156, 157);
}

.label {
    font-size: 2em;
    text-anchor: middle;
}

#bottom-half {
    stroke: black;
    stroke-width: 5px;
    fill: rgb(152, 156, 157);
}

#gameTitle {
    text-anchor: middle;
    font-size: 9em;
    fill: rgb(152, 156, 157);
}

#count {
    text-anchor: middle;
    font-size: 4em;
    fill: rgb(250, 0, 0);;
}

#countDisplay {
    fill: rgb(50, 0, 0);
    stroke: black;
    stroke-width: 10px;
}

#start {
    fill: rgb(176, 29, 15);
    stroke: black;
    stroke-width: 15px;
    cursor: pointer;
}

#strick {
    fill: rgb(191, 185, 37);
    stroke: black;
    stroke-width: 15px;
    cursor: pointer;
}

#strickLight {
    stroke: black;
    stroke-width: 5px;
}

#strickLight.on {
    fill: rgb(176, 29, 15);
}

#power-switch {
    fill: rgb(1, 109, 186);
    transition: x .2s;
    cursor: pointer;
}

.btn {
//    filter: url('#blur');
//    overflow: hidden;
//    opacity: .7;

//    mask: url("../glass.jpg");
//    mask: url("../Green_wool_texture.png");
//    mask: url(#masking);
//    
//    -webkit-mask-mode: luminance;
//    mask-mode: luminance;
      cursor: pointer;
}

.item {
  mask: url(#masking);
  }

#red-btn {
    fill: rgb(176, 29, 15);
}

#blue-btn {
    fill: rgb(1, 109, 186);
}

#green-btn {
    fill: rgb(55, 171, 68);
}

#yellow-btn {
    fill: rgb(191, 185, 37);
}

@media (max-width: 1080px) {
    #app {
        width: 60%;
    }
}

@media (max-width: 800px) {
    #app {
        width: 80%;
    }
}

@media (max-width: 500px) {
    #app {
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: 10px;
    }
}

